body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(239, 255, 253);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
.jumbotron {
  text-align: center;
  background-color: rgb(255, 247, 255);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  color: black;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 10px;
  
}
.description:focus {
  outline: 0;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
  text-align: center;
  align-content: center;
  

}

.past {
  background-color: #ffe1fd;
  color: black;
}

.present {
  background-color: #dafdb9;
  color: black;
}

.future {
  background-color: #c8fbff;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(176, 255, 248);
  color: white;
  width: 100%;
  height: 100%;

}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.saveBtn:focus {
  outline: 0;
}


.col-lg-1, .col-lg-10 {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: darkblue;
}